<%- include("adminHeader") %> 
<div class="container-fluid">

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    </div>


        <div class="card shadow mb-4">

          <!-- Card Header - Dropdown -->
          <div class="card-header py-12 d-flex flex-row align-items-center justify-content-between">
            <div>
                <h6 class="m-0 font-weight-bold text-primary">Settings</h6>
                <% setting.forEach(sett=> { %> 
                <form action="/settings" method="POST">
                  <div class="form-row">
                  <label for="">name</label>
                    <input type="text" class="form-control" name="name" value="<%= sett.name %>">
                    <label for="">page title</label>
                    <input type="text" class="form-control" name="title" value="<%= sett.title %>">
                    <label for="">job</label>
                    <input type="text" class="form-control" name="job" value="<%= sett.job %>">
                    <label for="">image</label>
                    <input type="text" class="form-control" name="image" value="<%= sett.image %>">
                    <label for="">resume</label>
                    <input type="text" class="form-control" name="resume" value="<%= sett.resume %>">
                    <label for="">Programing language</label>
                    <input type="text" class="form-control" name="skillsPr" value="<%= sett.skillsPr %>">
                    <label for="">Frameworks</label>
                    <input type="text" class="form-control" name="skillsFr" value="<%= sett.skillsFr %>">
                    <label for="">library</label>
                    <input type="text" class="form-control" name="skillsLb" value="<%= sett.skillsLb %>">
                    <label for="">Database</label>
                    <input type="text" class="form-control" name="skillsDb" value="<%= sett.skillsDb %>">
                    <label for="">location</label>
                    <input type="text" class="form-control" name="country" value="<%= sett.country %>">
                    <label for="">Tell</label>
                    <input type="text" class="form-control" name="tell" value="<%= sett.tell %>">
                    <label for="">Email</label>
                    <input type="text" class="form-control" name="email" value="<%= sett.email %>">
                    <label for="">Experience</label>                  
                    <input type="text" class="form-control" name="ex" value="<%= sett.ex %>">
                    <label for="">Age</label>
                    <input type="text" class="form-control" name="age" value="<%= sett.age %>">
                    <label for="">Hi</label>
                    <input type="text" class="form-control" name="hi" value="<%= sett.hi %>">
                    <label for="">description</label>
                    <input type="text" class="form-control" name="des" value="<%= sett.des %>">
                    <label for="">Front</label>
                    <input type="text" class="form-control" name="front" value="<%= sett.front %>">
                    <label for="">Desktop</label>
                    <input type="text" class="form-control" name="desk" value="<%= sett.desk %>">
                    <label for="">Back-End</label>
                    <input type="text" class="form-control" name="back" value="<%= sett.back %>">
                  </div>
                    <% }) %> 

                        <button type="submit" class="btn btn-primary">update</button>
                </form>
                <h6 class="m-0 font-weight-bold text-primary">Create Projects</h6>
                
                <form action="/projects" method="POST">
                  <div class="form-row">
                   <label for="">Project name</label>
                   <input class="form-control" type="text" name="name">
                   <label for="">Project description</label>
                   <input class="form-control" type="text" name="des">
                   <label for="">Project Programin language</label>
                   <input class="form-control" type="text" name="lang">
                   <label for="">Project link</label>
                   <input class="form-control" type="text" name="link">
                   <label for="">image</label>
                   <input class="form-control" type="text" name="img">
                  </div>
                <button type="submit" class="btn btn-primary">Create</button>
                </form>
            </div>
            </div>
        </div>
        <h6 class="m-0 font-weight-bold text-primary">Create Edu</h6>
        <form action="/edu" method="POST">
          <div class="form-row">
           <label for="">Edu name</label>
           <input class="form-control" type="text" name="name">
           <label for="">Edu year </label>
           <input class="form-control" type="text" name="year">
           <label for="">Edu degre</label>
           <input class="form-control" type="text" name="degre">
           <label for="">Edu ix</label>
           <input class="form-control" type="text" name="ix">
          </div>
        <button type="submit" class="btn btn-primary">Create</button>
        </form>
        <h6 class="m-0 font-weight-bold text-primary">Create Work</h6>
        <form action="/work" method="POST">
          <div class="form-row">
           <label for="">Work name</label>
           <input class="form-control" type="text" name="name">
           <label for="">Work year </label>
           <input class="form-control" type="text" name="year">
           <label for="">Work description</label>
           <input class="form-control" type="text" name="des">
          </div>
        <button type="submit" class="btn btn-primary">Create</button>
        </form>
</div>

<%- include("adminFooter") %>  