<% setting.forEach(function (sett) { %>                  

    <!DOCTYPE html>
    <html lang="en">
      <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Ulvi Memmedov">
        <meta http-equiv="X-UA-Compatible" content="IE=7">
        <meta name="description" content="Ulvi Memmedov Portfolio page">
          <title><%= sett.title %></title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css" >
        <!-- Fonts -->
        <link rel="stylesheet" type="text/css" href="assets/fonts/font-awesome.min.css">
        <!-- Icon -->
        <link rel="stylesheet" type="text/css" href="assets/fonts/simple-line-icons.css">
        <!-- Slicknav -->
        <link rel="stylesheet" type="text/css" href="assets/css/slicknav.css">
        <!-- Nivo Lightbox -->
        <link rel="stylesheet" type="text/css" href="assets/css/nivo-lightbox.css" >
        <!-- Animate -->
        <link rel="stylesheet" type="text/css" href="assets/css/animate.css">
        <!-- Main Style -->
        <link rel="stylesheet" type="text/css" href="assets/css/main.css">
        <!-- Responsive Style -->
        <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">
    
      </head>
      <body>
    
        <header id="header-wrap">
          <!-- Navbar Start -->
          <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo">
            <div class="container">
              <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                  <span class="icon-menu"></span>
                  <span class="icon-menu"></span>
                  <span class="icon-menu"></span>
                </button>
                <a href="/" class="navbar-brand"><h1><%= sett.name%></h1></a>
              </div>
              <div class="collapse navbar-collapse" id="main-navbar">
                <ul class="onepage-nev navbar-nav mr-auto w-100 justify-content-end clearfix">
                  <li class="nav-item active">
                    <a class="nav-link" href="#hero-area">
                      Home
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#about">
                      About
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#services">
                      Services
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#portfolios">
                      Work
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#resume">
                      Resume
                    </a>
                  </li>
                </ul>
              </div>
            </div>
    
            <!-- Mobile Menu Start -->
            <ul class="onepage-nev mobile-menu">
              <li>
                <a href="#home">Home</a>
              </li>
              <li>
                <a href="#about">about</a>
              </li>
              <li>
                <a href="#services">Services</a>
              </li>
              <li>
                <a href="#portfolio">Work</a>
              </li>
              <li>
                <a href="#resume">resume</a>
              </li>
            </ul>
            <!-- Mobile Menu End -->
          </nav>
          <!-- Navbar End -->
              

            <!-- Hero Area Start -->
            <div id="hero-area" class="hero-area-bg">
              <div class="overlay"></div>
              <div class="container">
                <div class="row">
                  <div class="col-md-12 col-sm-12 text-center">
                    <div class="contents">
                      <h2 class="head-title wow fadeInUp" data-wow-delay="0.4s"><%= sett.name%></h2>            
                      <p class="script-font wow fadeInUp" data-wow-delay="0.6s"><%= sett.job%></p>
                      <ul class="social-icon wow fadeInUp" data-wow-delay="0.8s">
                        <li>
                          <a class="facebook" href="https://www.facebook.com/ulvim0/"><i class="icon-social-facebook"></i></a>
                        </li>
                        <li>
                          <a class="linkedin" href="https://www.linkedin.com/in/ulvimemmeedov/"><i class="icon-social-linkedin"></i></a>
                        </li>
                        <li>
                          <a class="github" href="https://github.com/ulvimemmeedov"><i class="icon-social-github"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Hero Area End -->
      
          </header>
          <!-- Header Area wrapper End -->
      
          <!-- About Section Start -->
          <section id="about" class="section-padding">
            <div class="container">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s">
                    <img class="img-fluid" src="./storage/img/<%=sett.image%>" alt="image">
                  </div>
                </div> 
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="profile-wrapper wow fadeInRight" data-wow-delay="0.3s">
                    <h3></h3>
                    <p></p>
                    <div class="about-profile">
                      <ul class="admin-profile">
                        <li><span class="pro-title"> Name </span> <span class="pro-detail"><%= sett.name%></span></li>
                        <li><span class="pro-title"> Age </span> <span class="pro-detail"><%= sett.age%></span></li>
                        <li><span class="pro-title"> Experience </span> <span class="pro-detail"><%= sett.ex%></span></li>
                        <li><span class="pro-title"> Location</span> <span class="pro-detail"><%= sett.country%></span></li>
                        <li><span class="pro-title"> E-mail </span> <a href="mailto:<%= sett.email%>" class="pro-detail"><%= sett.email%></a></li>
                        <li><span class="pro-title"> Phone </span> <a href="tell:<%= sett.tell%>" class="pro-detail"><%= sett.tell%></a></li>
                        <li><Strong>Skills</Strong></li>
                        <li><%= sett.skillsPr%></li>
                        <li><%= sett.skillsFr%></li>
                        <li><%= sett.skillsLb%></li>
                        <li><%= sett.skillsDb%></li>
                      </ul>
                    </div>
                    <a href="./storage/resume/<%=sett.resume%>" class="btn btn-common"><i class="icon-paper-clip"></i> Download Resume</a>
                  </div>
                </div>   
              </div>
            </div>
          </section>
          <!-- About Section End -->
      
          <!-- Services Section Start -->
          <section id="services" class="services section-padding">
            <h2 class="section-title wow flipInX" data-wow-delay="0.4s">What I do</h2>
            <div class="container">
              <div class="row">
                <!-- Services item -->
                <div class="col-md-6 col-lg-4 col-xs-12">
                  <div class="services-item wow fadeInDown" data-wow-delay="0.3s">
                    <div class="icon">
                      <i class="icon-grid"></i>
                    </div>
                    <div class="services-content">
                      <h3><a href="#services">Front-end Development</a></h3>
                      <p><%= sett.front%></p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xs-12">
                  <div class="services-item wow fadeInDown" data-wow-delay="0.3s">
                    <div class="icon">
                      <i class="icon-options"></i>
                    </div>
                    <div class="services-content">
                      <h3><a href="#services">Desktop Development</a></h3>
                      <p><%= sett.desk%></p>
                    </div>
                  </div>
                </div>
                <!-- Services item -->
                <div class="col-md-6 col-lg-4 col-xs-12">
                  <div class="services-item wow fadeInDown" data-wow-delay="0.6s">
                    <div class="icon">
                      <i class="icon-layers"></i>
                    </div>
                    <div class="services-content">
                      <h3><a href="#services">Back-End development </a></h3>
                      <p><%= sett.back%></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- Services Section End -->
          <% }) %>

    <!-- Portfolio Section -->
    <section id="portfolios" class="section-padding">
        <!-- Container Starts -->
        <div class="container">        
          <h2 class="section-title wow flipInX" data-wow-delay="0.4s">My Remarkable Works</h2>
                        <!-- Portfolio Recent Projects -->
            <div class="row">
                <% project.forEach(function (proj,index) { %>   
             <div class="col-md-6 col-lg-4 col-xs-12">     
                <div class="services-item wow fadeInDown col- " data-wow-delay="0.6s">
                  <div class="icon">
                    <img width="200px" height="150px" src="./storage/img/<%=proj.img%> " alt="pr"/>
                  </div>
                  <a href="<%=proj.link%>" target="_blank"><i class="icon-link"></i></a>
                  <div class="services-content">
                    <h3><a href="#services"><%=proj.name%></a></h3>
                    <p><%=proj.lang%></p>
                    <p><%=proj.des%></p>
                  </div>
                </div>
            </div>
                <% }) %>
            </div>
        </div>
    </section>
      <!-- Portfolio Section Ends --> 
  
    <!-- Resume Section Start -->
    <div id="resume" class="section-padding">
        <div class="container">
          <div class="row">

            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="education wow fadeInRight" data-wow-delay="0.3s">
                <ul class="timeline">
                  <li>
                    <i class="icon-graduation"></i>
                    <h2 class="timelin-title">Education</h2>
                  </li>
                  <% edu.forEach(function (ed) { %>   
                  <li>
                    <div class="content-text">
                      <h3 class="line-title"><%= ed.name %> </h3>
                      <p class="line-text"> <%= ed.ix %> </p>
                      <p class="line-text"> <%= ed.degre %> </p>
                      <span><%= ed.year %> </span>
                    </div>
                  </li>
                  <% }) %>
                </ul>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="experience wow fadeInRight" data-wow-delay="0.6s">
                <ul class="timeline">
                  <li>
                    <i class="icon-briefcase"></i>
                    <h2 class="timelin-title">Experience</h2>
                  </li>
                  <% work.forEach(function (wor) { %>   
                  <li>
                    <div class="content-text">
                      <h3 class="line-title"><%=wor.name%></h3>
                      <span><%=wor.year%></span>
                      <p class="line-text"><%=wor.year%></p>
                    </div>
                  </li>
                  <% }) %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Resume Section End -->

      <!-- Footer Section Start -->
      <footer class="footer-area section-padding">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="footer-text text-center wow fadeInDown" data-wow-delay="0.3s">
                <ul class="social-icon">
                  <li>
                    <a class="facebook" href="https://www.facebook.com/ulvim0/"><i class="icon-social-facebook"></i></a>
                  </li>
                  <li>
                    <a class="linkedin" href="https://www.linkedin.com/in/ulvimemmeedov/"><i class="icon-social-linkedin"></i></a>
                  </li>
                  <li>
                    <a class="github" href="https://github.com/ulvimemmeedov"><i class="icon-social-github"></i></a>
                  </li>
                </ul>
                <p>Copyright © 2021 Ulvi Memmedov All Right Reserved</p>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- Footer Section End -->
  
      <!-- Go to Top Link -->
      <a href="#" class="back-to-top">
        <i class="icon-arrow-up"></i>
      </a>
  
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="assets/js/jquery-min.js"></script>
      <script src="assets/js/popper.min.js"></script>
      <script src="assets/js/bootstrap.min.js"></script>
      <script src="assets/js/jquery.mixitup.js"></script>
      <script src="assets/js/jquery.counterup.min.js"></script>
      <script src="assets/js/waypoints.min.js"></script>
      <script src="assets/js/wow.js"></script>
      <script src="assets/js/jquery.nav.js"></script>
      <script src="assets/js/jquery.easing.min.js"></script>  
      <script src="assets/js/nivo-lightbox.js"></script>
      <script src="assets/js/jquery.slicknav.js"></script>
      <script src="assets/js/main.js"></script>      
    </body>
  </html>
  